# Options common for all EngFlow remote configurations.
build:engflow_common --jobs=8
build:engflow_common --define=EXECUTOR=remote
build:engflow_common --disk_cache=
build:engflow_common --experimental_inmemory_dotd_files
build:engflow_common --experimental_inmemory_jdeps_files
build:engflow_common --incompatible_strict_action_env=true
build:engflow_common --remote_timeout=3600
build:engflow_common --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build:engflow_common --java_runtime_version=remotejdk_11
build:engflow_common --java_language_version=11
build:engflow_common --remote_download_toplevel

# Options for continuous testing.
build:ci --color=yes
build:ci --curses=yes
build:ci --show_timestamps
build:ci --announce_rc
build:ci --test_output=summary
build:ci --show_progress_rate_limit=2.0
build:ci --nobuild_runfile_links
build:ci --keep_going

# Additional clang toolchain options for automatically configured toolchains.
build:clang --cxxopt="-std=c++14"
build:clang --host_cxxopt="-std=c++14"
build:clang --cxxopt="-fno-exceptions"
build:clang --host_cxxopt="-fno-exceptions"
build:clang --cxxopt="-fvisibility=hidden"
build:clang --host_cxxopt="-fvisibility=hidden"
build:clang --cxxopt="-Werror=reorder"
build:clang --host_cxxopt="-Werror=reorder"
build:clang --cxxopt="-Werror=unused-function"
build:clang --host_cxxopt="-Werror=unused-function"
build:clang --cxxopt="-Werror=return-type"
build:clang --host_cxxopt="-Werror=return-type"
build:clang --copt="-Werror=sign-compare"
build:clang --cxxopt="-Werror=sign-compare"
build:clang --host_copt="-Werror=sign-compare"
build:clang --host_cxxopt="-Werror=sign-compare"

# Platform-specific options for each supported platform.
build:remote_linux_x64 --extra_execution_platforms=//platform/linux_x64
build:remote_linux_x64 --host_platform=//platform/linux_x64
build:remote_linux_x64 --platforms=//platform/linux_x64
build:remote_linux_x64 --crosstool_top=//platform/linux_x64:toolchain
build:remote_linux_x64 --host_crosstool_top=//platform/linux_x64:toolchain
build:remote_linux_x64 --cpu=k8
build:remote_linux_x64 --host_cpu=k8
build:remote_linux_x64 --compiler=clang
build:remote_linux_x64 --host_compiler=clang

build:remote_macos_x64 --config=clang
build:remote_macos_x64 --host_platform=//platform/macos_x64
build:remote_macos_x64 --platforms=//platform/macos_x64
build:remote_macos_x64 --macos_minimum_os=12
build:remote_macos_x64 --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build:remote_macos_x64 --host_action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build:remote_macos_x64 --apple_crosstool_top=@local_config_apple_cc//:toolchain
build:remote_macos_x64 --crosstool_top=@local_config_apple_cc//:toolchain
build:remote_macos_x64 --host_crosstool_top=@local_config_apple_cc//:toolchain

build:remote_windows_x64 --extra_execution_platforms=//platform/windows_x64
build:remote_windows_x64 --host_platform=//platform/windows_x64
build:remote_windows_x64 --platforms=//platform/windows_x64
build:remote_windows_x64 --crosstool_top=//platform/windows_x64:toolchain
build:remote_windows_x64 --host_crosstool_top=//platform/windows_x64:toolchain
build:remote_windows_x64 --cpu=x64_windows
build:remote_windows_x64 --host_cpu=x64_windows
build:remote_windows_x64 --compiler=clang
build:remote_windows_x64 --host_compiler=clang

# Options for private EngFlow clusters.
# To use on your own cluster, change the URLs to your own endpoint.
build:opal --config=engflow_common
build:opal --remote_executor=grpcs://opal.cluster.engflow.com
build:opal --bes_backend=grpcs://opal.cluster.engflow.com
build:opal --bes_lifecycle_events
build:opal --bes_results_url=https://opal.cluster.engflow.com/invocation/

build:magnesite --config=engflow_common
build:magnesite --remote_executor=grpcs://magnesite.cluster.engflow.com
build:magnesite --bes_backend=grpcs://magnesite.cluster.engflow.com
build:magnesite --bes_lifecycle_events
build:magnesite --bes_results_url=https://oss-cluster.engflow.com/invocation/

# To authenticate with the clusters above, create a .bazelrc.user file.
# This file is not checked into Git because it refers to local file system paths.
#
# It must contain (for example):
#
#     build:opal --tls_client_certificate=/home/example/.engflow/opal/engflow.crt
#     build:opal --tls_client_key=/home/example/.engflow/opal/engflow.key
try-import .bazelrc.user
