
startup --windows_enable_symlinks

build --enable_platform_specific_config
build --enable_runfiles

# Options common for all EngFlow remote configurations.
build:engflow_common --jobs=8
build:engflow_common --define=EXECUTOR=remote
build:engflow_common --disk_cache=
build:engflow_common --experimental_inmemory_dotd_files
build:engflow_common --experimental_inmemory_jdeps_files
build:engflow_common --incompatible_strict_action_env=true
build:engflow_common --remote_timeout=3600

build:engflow_common --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build:engflow_common --crosstool_top=//remote_config/cc:toolchain
build:engflow_common --cpu=k8
build:engflow_common --extra_execution_platforms=//remote_config/config:platform
build:engflow_common --extra_toolchains=//remote_config/config:cc-toolchain
build:engflow_common --host_platform=//remote_config/config:platform
build:engflow_common --platforms=//remote_config/config:platform
build:engflow_common --java_runtime_version=remotejdk_11
build:engflow_common --java_language_version=11

build:macos --platforms @io_bazel_rules_dotnet//dotnet/toolchain:darwin_amd64_3.1.100
build:macos --platforms @io_bazel_rules_dotnet//dotnet/toolchain:darwin_arm64_6.0.101
build:linux --platforms @io_bazel_rules_dotnet//dotnet/toolchain:linux_amd64_3.1.100

build:macos --macos_minimum_os=12

build:clang --client_env=CC=clang

build:windows --java_runtime_version=remotejdk_11
build:windows --tool_java_runtime_version=remotejdk_11
build:windows --host_platform=@io_bazel_rules_dotnet//dotnet/toolchain:windows_amd64_6.0.101

build:linux --java_runtime_version=remotejdk_11
build:linux --tool_java_runtime_version=remotejdk_11

build:without_bytes --experimental_remote_download_outputs=minimal

# Options for a private EngFlow cluster.
# - Change "10.0.0.10:8080" to the actual cluster IP and port.
# - You'll also need to set flags for your authentication method.
#   For example, if your cluster uses mTLS authentication, you could add
#   the flags below (with correct paths), either here or in ~/.bazelrc:
# build:engflow --tls_client_certificate=/path/to/client.crt
# build:engflow --tls_client_key=/path/to/client.key
build:engflow --config=engflow_common
build:engflow --remote_executor=grpcs://10.0.0.10:8080
build:engflow --bes_backend=grpcs://10.0.0.10:8080
build:engflow --bes_lifecycle_events
build:engflow --bes_results_url=https://10.0.0.10:8080/invocation/

# Options for the open source cluster.
build:engflow_oss --config=engflow_common
build:engflow_oss --remote_executor=grpcs://oss-cluster.engflow.com
build:engflow_oss --bes_backend=grpcs://oss-cluster.engflow.com
build:engflow_oss --bes_lifecycle_events
build:engflow_oss --bes_results_url=https://oss-cluster.engflow.com/invocation/

try-import .bazelrc.user
